//--------------------------------1440 > 1919-----------------------------------------------------------------
@media (max-width: 1919px) {
    
    .advantages {
        padding: 60px 180px;
    }
}
//---------------------------------1440 > 1919----------------------------------------------------------------

//---------------------------------1024 > 1439----------------------------------------------------------------
@media (max-width: 1439px) {
    
    .advantages {
        padding: 60px;
    }
}
//----------------------------------1024 > 1439---------------------------------------------------------------

//---------------------------------768 > 1023----------------------------------------------------------------
@media (max-width: 1023px) {
    
    .advantages {
        display: flex;
        flex-direction: column;
    }

    .advantages__list {
        padding-right: 0;
        padding-bottom: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .advantages__item {
        margin-bottom: 0;
        justify-content: flex-start;
        flex-basis: content;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    .advanateg-btn {
        white-space: nowrap;
    }

    .advantages__article {
        max-width: 904px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 60px;
        border-top: 4px solid rgba(255, 255, 255, 0.3);
        border-left: none;
        min-height: 1px;
    }
}
//-------------------------------------768 > 1023------------------------------------------------------------

//------------------------------------375 > 767-------------------------------------------------------------
@media (max-width: 767px) {
    
    .advantages {
        padding: 30px;
    }

    .advantages__list {
        padding-bottom: 30px;
    }

    .advanateg-btn {
        font-size: 30px;
        line-height: 37px;
    }

    .advantages__title {
        font-size: 20px;
        line-height: 24px;
    }
}//----------------------------------375 > 767---------------------------------------------------------------
