.advantages {
    display: flex;
    padding: 60px 280px;
}

.advantages__list {
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 435px;
}

.advantages__item {
    font-size: 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    flex-basis: content;

    &:last-child {
        margin-bottom: 0;
    }
}

.advanateg-btn {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: $color-grey-bg-text;

    &:focus {
        background: $gardient-red-text-reversed;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &:hover {
        color: $color-acnet;
    }
}

.advantages__article {
    width: 100%;
    max-width: 861px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    border-left: 4px solid rgba(255, 255, 255, 0.3); //--если текста станет больше, он будет расти вместе с текстом
    min-height: 303px;
}

.advantages__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}

.advantages__text {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
}