//--------------------------------1440 > 1919-----------------------------------------------------------------
@media (max-width: 1919px) {
    .banner{
        padding-bottom: 55.486%;
    }

}
//---------------------------------1440 > 1919----------------------------------------------------------------

//---------------------------------1024 > 1439----------------------------------------------------------------
@media (max-width: 1439px) {
    .banner {
        padding-bottom: 75%;
    }

}
//----------------------------------1024 > 1439---------------------------------------------------------------

//---------------------------------768 > 1023----------------------------------------------------------------
@media (max-width: 1023px) {
    .banner {
        background-size: cover;
        padding-bottom: 133.3%;
    }

}
//-------------------------------------768 > 1023------------------------------------------------------------

//------------------------------------375 > 767-------------------------------------------------------------
@media (max-width: 767px) {
    .banner {
        padding: 0;
        padding-bottom: 160%;
    }

    .banner__title {
        left: calc(50% - 315px/2);
        top: calc(50% - 138px/2);
        max-width: 315px;
    }

}//----------------------------------375 > 767---------------------------------------------------------------
