.page-wrap {
    background: $gradient-supersoft;
    padding: 0 50px;
    color: #fff;
    border-radius: 0px 0px 12px 12px;
}

.page-wrap a {
    color: #fff;
}

.page-wrap--position-relative {
    position: relative;
}