.shadow {
}
.shadow__first {
	height: 10px;
	max-width: 1880px;
	background-color: #CACADB;
	border-radius: 0px 0px 12px 12px;
	margin: 0 20px;
}
.shadow__second {
	height: 10px;
	max-width: 1880px;
	background-color: #E7E7F2;
	border-radius: 0px 0px 12px 12px;
	margin: 0 40px;
}